.modal-overlay {
  align-items: center;
  background-color: var(--color-main-alpha);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  transition: all .4s;

  .modal {
    background-color: var(--color-bg);
    border-bottom: solid 5px var(--color-alt-1);
    border-top: solid 5px var(--color-alt-1);
    border-radius: .5rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .15);
    position: relative;

    p.close-modal {
      cursor: pointer;
      color: var(--color-fg);
      font-size: 4rem;
      line-height: 5rem;
      margin: 0;
      position: absolute;
      right: 1rem;
      top: 0;
      user-select: none;
      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--color-main);
      }
    }

    header {
      align-items: center;
      background-color: rgb(245, 245, 245);
      border-bottom: solid 1px rgba(0, 0, 0, .15);
      display: flex;
      height: 5rem;
      justify-content: center;

      span {
        font-style: italic;
      }
    }

    main {
      max-height: calc(100% - 10rem);
      padding: 2rem;
      width: 100%;

      p {
        margin-bottom: 1rem;
      }
    }

    footer {
      align-items: center;
      background-color: rgb(245, 245, 245);
      border-top: solid 1px rgba(0, 0, 0, .15);
      display: flex;
      height: 5rem;
      justify-content: center;
    }

    button {
      height: 3.6rem;
    }

    &.modal-new-element {
      input.comment {
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .5rem;
        height: 3rem;
        outline: none;
        text-align: center;
        user-select: none;
        width: 100%;

        transition: all .2s;
      }
    }

    &.modal-results {
      height: 100%;
      max-height: 90%;
      max-width: 90%;
      width: 130rem;

      .analysis-summary {
        p {
          margin-top: 2rem;
        }
      }

      .results-wrapper {
        border-radius: .5rem;
        display: block;
        height: 100%;
        padding: 0;
        text-align: center;
        width: 100%;
    
        .catergories-grid {
          display: grid;
          grid-template-columns: 50% 50%;
          width: calc(100% - var(--default-scroll-size));

          h3 {
            margin: 1rem 0;
          }

          .go-for {
            color: var(--color-main-darker);
          }
    
          .go-against {
            color: rgb(255, 75, 75);
          }
    
          .category-item {
            align-items: center;
            background-color: rgb(245, 245, 245);
            border: solid 1px rgba(0, 0, 0, .15);
            border-radius: .5rem;
            display: grid;
            grid-template-columns: 3rem 1fr;
            height: 6rem;
            margin: 1rem;
            padding: .5rem;
    
            p {
              font-size: 1.6rem;
              margin-bottom: 0;
        
              span {
                display: block;
    
                &.value {
                  font-weight: bold;
                }
        
                &.additionnal {
                  font-size: 1.4rem;
                  font-style: italic;
                }
      
                &.comment {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }    
    }

    &.modal-info {
      max-width: 66%;
      text-align: justify;
      width: 80rem;
        
      p {
        margin-bottom: var(--spacing-small);
        text-indent: var(--spacing);

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      a {
        color: black;
        display: inline-block;
        margin: 0;
        text-indent: 0;

        transition: all var(--transition);

        &:active,
        &:focus,
        &:hover {
          color: var(--color-alt-1);          
        }
      }
    }
  }
}
