@import './utils/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background: radial-gradient(#f8f8f8, #e9e9e9 85%);
  font-size: 1.4rem;
  color: #181818;
  font-family: sans-serif;
  position: relative;
}

p {
  font-size: 1.6rem;
  margin-bottom: var(--spacing);
}

button {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, .15);
  border-radius: .5rem;
  cursor: pointer;
  height: 3rem;
  margin: 0 .5rem;
  text-align: center;
  width: 12rem;

  transition: all .2s;

  &:active,
  &:focus,
  &:hover {
    background-color: rgb(245, 245, 245);
  }

  &.primary {
    background-color: var(--color-green);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-green-darker);
    }
  }

  &.secondary {
    background-color: var(--color-red);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-red-darker);
    }
  }
}

/* Switch checkbox style */
.switch-container {
  align-content: center;
  display: flex;
  justify-content: center;

  p {
    display: inline-block;
    margin: 0;
  }

  .switch-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    max-width: 5rem;
    user-select: none;
    width: 5rem;

    input[type="checkbox"].switch {
      appearance: none;
      cursor: pointer;
      height: calc(1.6rem + 2px);
      background-color: rgb(255, 107, 103);
      border: solid 1px rgb(127, 127, 127);
      border-radius: 3rem;
      margin: 0;
      position: relative;
      outline: none;
      width: 3.6rem;
      transition: all .3s ease-in-out;

      &::after {
        content: '';
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 .25rem rgba(0, 0, 0, .9);
        height: 1.6rem;
        left: 0;
        position: absolute;
        transform: scale(.7);
        width: 1.6rem;
        transition: all .3s ease-in-out;
      }

      &:checked {
        background-color: rgb(86, 212, 91);
      }

      &:checked::after {
        left: calc(100% - 1.6rem);
      }
    }
  }
}

.aside-toggle {
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: bold;
  left: 1rem;
  padding: 0;
  position: absolute;
  top: 0;
  user-select: none;
  z-index: 2;
}

aside {
  background-color: rgba(255, 255, 255, .8);
  bottom: 0;
  border-right: solid 1px rgba(0, 0, 0, .15);
  left: -30rem;
  position: absolute;
  top: 0;
  width: 30rem;

  transition: all 1s;

  &.opened {
    left: 0;
  }

  h1 {
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .15);
    display: flex;
    font-size: 1.4em;
    font-style: italic;
    height: 5rem;
    justify-content: flex-end;
    padding-right: 1rem;
    text-align: right;
    width: 100%;
  }

  .db-info {
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .15);
    display: flex;
    height: 5rem;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;

    p {
      font-size: 1.4rem;
      font-style: italic;
      height: fit-content;
      margin: 0;
    }
  }

  .db-controls {
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .15);
    display: flex;
    height: 5rem;
    justify-content: center;
  }

  .aside-content {
    height: calc(100% - 5rem - 5rem - 5rem);
    padding-left: 1rem;
    text-align: center;
    width: calc(100% - var(--scroll-size));

    h2 {
      font-size: 1.7rem;
      padding-top: 1rem;
      margin-bottom: 1.5rem;
      position: relative;
      text-align: left;

      .go-for {
        color: var(--color-main-darker);
        font-style: italic;
      }

      .go-against {
        color: rgb(255, 75, 75);
        font-style: italic;
      }

      i {
        font-style: italic;
        margin: 0;
        padding-right: 0;
      }

      div {
        cursor: pointer;
        position: absolute;
        right: 2.5rem;
        top: 1rem;
        user-select: none;
      }
    }

    i {
      display: block;
      font-size: 1.4rem;
      margin: 1rem 0;
      padding-right: 1rem;
    }

    p {
      background-color: white;
      border: solid 1px rgba(0, 0, 0, .15);
      border-radius: .5rem;
      font-size: 1.2rem;
      margin-bottom: .75rem;
      padding: .25rem 1rem;
      position: relative;
      width: calc(100% - 2rem);

      span {
        display: block;

        &.value {
          font-weight: bold;
        }

        &.additionnal {
          font-style: italic;
        }

        &.comment {
          font-size: 1rem;
        }
      }

      button {
        border: none;
        opacity: .5;
        position: absolute;
        top: 0;
        width: 2rem;

        transition: all .2s;

        &:active,
        &:focus,
        &:hover {
          background-color: inherit;
          opacity: 1;
        }

        &:first-of-type {
          right: 2rem;
        }

        &:last-of-type {
          right: 0rem;
        }
      }
    }
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: calc(100% - var(--scroll-size));

  h1 {
    font-size: 6rem;
  }

  p {
    font-style: italic;
    margin-bottom: 3rem;
  }

  .input-wrapper {
    display: flex;
    margin-bottom: 3rem;
    user-select: none;

    .triplet {
      margin: 0 1.6rem;
      user-select: none;

      input {
        background-color: white;
        border: solid 1px rgba(0, 0, 0, .15);
        border-radius: .5rem;
        height: 3rem;
        outline: none;
        text-align: center;
        width: 6rem;
        user-select: none;

        transition: all .2s;

        &.success {
          border: solid 1px rgba(0, 175, 0, .33);
          box-shadow: 0 0 5px 5px rgba(0, 175, 0, .05);
        }

        &.error {
          border: solid 1px rgba(255, 0, 0, .45);
          box-shadow: 0 0 5px 5px rgba(255, 0, 0, .05);
        }
      }
    }
  }

  .submission-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ranges-container {
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3rem;

      label {
        font-style: italic;
        margin-right: 1rem;
        text-align: right;
      }

      input {
        cursor: pointer;
        width: 10rem;
      }
    }

    .button-container {
      display: flex;
      margin-bottom: 3rem;
    }
  }
}

.info-button {
  bottom: 1rem;
  cursor: pointer;
  opacity: .8;
  position: absolute;
  right: 1rem;
  user-select: none;

  transition: all .2s;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}
/* Loader while page is being set */
.loading-overlay {
  background-color: var(--color-bg);
  cursor: progress;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  transition: all var(--transition-long);

  &::before {
    content: '';
    background-color: var(--color-main);
    border-radius: .5rem;
    height: var(--spacing-large);
    left: calc(50% - var(--spacing));
    position: absolute;
    top: 50%;
    width: var(--spacing-large);

    animation: rotate-plane 1.2s infinite ease-in-out;
  }
}

@import 'utils/modal';
@import 'utils/responsive';
